FIREBASE_API_KEY=AIzaSyAJ6aYJdGEIjZRkm14jcLTZ3kYL-h0e4Ks
FIREBASE_AUTH_DOMAIN=tekker-d3bfd.firebaseapp.com
FIREBASE_DATABASE_URL=https://tekker-d3bfd-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_PROJECT_ID=tekker-d3bfd
FIREBASE_STORAGE_BUCKET=tekker-d3bfd.appspot.com
FIREBASE_MESSAGING_SENDER_ID=395037816238
FIREBASE_APP_ID=1:395037816238:web:f351f0c48b8110c815043f